# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# IDE
.idea/
*.iml

# Platform build outputs
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
ios/Pods/
ios/.symlinks/

# Secrets
*.env

**/build/